{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title }} | StoneAgeEntrepreneur
        {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/81a2d4bcab.js" ></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blogtech/css/base.css' %}">
</head>
<body>
    <nav>
        <div class="leftmenu">
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <form method="post">
                <label>
                    <input class='search-box' id="searchbox" type="search">
                </label>
                                            </form>

            <div class="search">

                <i class="fas fa-search"><span>search</span></i>
            </div>


        </div>
        <div class="logo">
            Stone<span>Age</span>Entrepreneur.
        </div>
        <div class="rightmenu">
            <div class="health">Health</div>
            <div class="store">Merchandise</div>
            <div class="accounts">Login</div>
        </div>
    </nav>
    <main class="main">
        <div class="side-bar ">
            <div class="side-bar-0">
                <span>TECHNOLOGY</span>
                <ul>
                    <li><a href="#">The Techy Experience</a></li>
                    <li><a href="#">Geniuses of Silicon Valley</a></li>
                    <li><a href="#">Women in Tech</a></li>
                    <li><a href="#">SAE App Reviews</a></li>
                    <li><a href="#">SAE Tutorials</a></li>
                </ul>
            </div>
            <div class="side-bar-1">
                <span>HEALTH</span>
                <ul>
                    <li><a href="#">Fact Sheets</a></li>
                    <li><a href="#">Myth busters</a></li>
                    <li><a href="#">Women/Men in health</a></li>
                    <li><a href="#">Research and Analysis</a></li>
                </ul>

            </div>
            <div class="side-bar-footer">

            </div>
        </div>
{#              SIDEBAR ENDS              #}
{#        MAIN CONTENT STARTS #}
        <div class="content_wrapper">
            <div class="banner">
                <div class="left-banner">
                    <div class="img-wrap-lb">
                        <img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg'  %}" alt="">
                    </div>

                    <div class="title-wrap-lb">
                        <h1>What’s the Deal With the Story About the Mutant Coronavirus?</h1>
                        <p class="title-detail">
                            A prescription for living well from a Harvard physician
                        </p>

                        <div class="tags">
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                    </div>





                    <div class="details-wrap-lb">

                    </div>

                </div>
                <div class="middle-banner">
                    <div class="first-mb">
                        <div class="img-wrapper-mb">
                            <img src="{% static 'blogtech/img/technology_754.jpg' %}" alt="">

                        </div>
                        <div class="content-wrapper-mb">
                            <h2>It's official we are out of things to talk about.</h2>
                            <div class="tags">

                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                        </div>




                    </div>
                    <div class="first-mb">
                        <div class="img-wrapper-mb">
                            <img src="{% static 'blogtech/img/1_7zisdYgxVntRV9ff3mdCbw.png' %}" alt="">

                        </div>
                        <div class="content-wrapper-mb">
                            <h2>It's official we are out of things to talk about.</h2>
                            <div class="tags">

                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                        </div>




                    </div>

                </div>
                <div class="right-banner">
                    <div class="img-wrapper-rb">
                        <img src="{% static 'blogtech/img/prog.jpeg' %}" alt="">

                        <h2>Welcome to Python</h2>
                        <p class="title-detail">Python is multi-purpose programming language....</p>
                        <div class="tags">

                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>

                    </div>



                </div>



            </div>
{#            END BANNER                    #}


{#            THE TECH MERCH SECTION           #}

            <div class="tech-kit-wrapper">
                <h1>TECH MERCH FOR PERFECTIONISTS </h1>

                <div class="product-wrapper">
                    <button type="button" class="arrow-button"><i class="fas fa-arrow-left"></i></button>

                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>

                    <button type="button" class="arrow-button"><i class="fas fa-arrow-right"></i></button>
                </div>

                <button type="button" class="product-view-all-btn">VIEW ALL</button>
            </div>
{#            END TECH MERCH CONTENT#}

{#            START POPULAR IN TECH#}
            <div class="tech-kit-wrapper">
                <h1>SAE PICKS IN TECHNOLOGY </h1>
{#                TOP PICKS START  TECH #}
                <div class="top-picks">
                    <div class="img-wrap-top-picks">
                            <img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg'  %}" alt="">
                    </div>

                    <div class="title-wrap-top-picks">
                        <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                        <p class="title-detail">
                            The landscape is evolving quickly.The landscape is evolving quickly.
                        </p>

                        <div class="tags">
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                    </div>
                </div>

{#                END TOP PICKS TECH       #}

{#                START SECONDARY PICKS TECH      #}
                <div class="secondary-picks-wrapper">
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                                <img src="{% static 'blogtech/img/cat.jpeg'  %}" alt="">
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                         <div class="img-wrap-secondary-picks">
                                <img src="{% static 'blogtech/img/cat.jpeg'  %}" alt="">
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                                <img src="{% static 'blogtech/img/cat.jpeg'  %}" alt="">
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>


                    </div>
                </div>
{#                      END SECONDARY PICKS TECH                    #}






            </div>


{#            END SAE PICKS IN TECH#}

{#            START SAE PICKS IN HEALTH#}
            <div class="tech-kit-wrapper">
                <h1>SAE PICKS IN HEALTH </h1>
                <div class="top-picks">
                    <div class="img-wrap-top-picks">
                            <img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg'  %}" alt="">
                    </div>

                    <div class="title-wrap-top-picks">
                        <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                        <p class="title-detail">
                            The landscape is evolving quickly.The landscape is evolving quickly.
                        </p>

                        <div class="tags">
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                    </div>
                </div>

{#                END TOP PICKS HEALTH       #}

{#                START SECONDARY PICKS HEALTH      #}
                <div class="secondary-picks-wrapper">
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                                <img src="{% static 'blogtech/img/cat.jpeg'  %}" alt="">
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                         <div class="img-wrap-secondary-picks">
                                <img src="{% static 'blogtech/img/cat.jpeg'  %}" alt="">
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                                <img src="{% static 'blogtech/img/cat.jpeg'  %}" alt="">
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>


                    </div>
                </div>
{#                      END SECONDARY PICKS HEALTH                    #}

                    </div>



{#            END SAE PICKS IN HEALTH#}








{# END CONTENT WRAPPER      #}

        </div>

{#        END OF MAIN CONTENT         #}

    </main>
    <script src="{% static 'blogtech/js/landing.js' %}"></script>
</body>
</html>