{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
             | StoneAgeEntrepreneur
        {% endblock %}
    </title>
    <script src="https://kit.fontawesome.com/81a2d4bcab.js" ></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blogtech/css/base.css' %}">
</head>
<body>
    <nav>
        <div class="leftmenu">
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <form method="post">
                <label>
                    <input class='search-box' id="searchbox" type="search">
                </label>
                                            </form>

            <div class="search">

                <i class="fas fa-search"><span>search</span></i>
            </div>


        </div>
        <div class="logo">
            <a href="{% url 'home' %}">Stone<span>Age</span>Entrepreneur.</a>
        </div>
        <div class="rightmenu">
            <div class="health">Health</div>
            <div class="store">Merchandise</div>
            <div class="accounts">Login</div>
        </div>
    </nav>


{#    END NAV#}
    <main class="main">
{#    SIDE BAR STARTS#}
        <div class="side-bar ">
            <div class="side-bar-0">
                <span>TECHNOLOGY</span>
                <ul>
                    <li><a href="#">The Techy Experience</a></li>
                    <li><a href="#">Geniuses of Silicon Valley</a></li>
                    <li><a href="#">Women in Tech</a></li>
                    <li><a href="#">SAE App Reviews</a></li>
                    <li><a href="#">SAE Tutorials</a></li>
                </ul>
            </div>
            <div class="side-bar-1">
                <span>HEALTH</span>
                <ul>
                    <li><a href="#">Fact Sheets</a></li>
                    <li><a href="#">Myth busters</a></li>
                    <li><a href="#">Women/Men in health</a></li>
                    <li><a href="#">Research and Analysis</a></li>
                </ul>

            </div>
            <div class="side-bar-footer">

            </div>
        </div>
{#              SIDEBAR ENDS              #}
{#        MAIN CONTENT STARTS #}
        <div class="content_wrapper">
         {% block body %}


         {% endblock %}

{#            #}

            <footer>



                <p>ALL RIGHT RESERVED @ 2020</p>





            </footer>





{# END CONTENT WRAPPER      #}

        </div>

{#        END OF MAIN CONTENT         #}

    </main>
    <script src="{% static 'blogtech/js/landing.js' %}"></script>
</body>
</html>