{% extends 'blogtech/base.html' %}
{% load static %}

{% block title %}
    {{ title }} {{ block.super }}

{% endblock %}


{% block body %}

    <div class="banner">
                <div class="left-banner">
                    <div class="img-wrap-lb">
                        <a href="#"><img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg'  %}" alt=""></a>
                    </div>

                    <div class="title-wrap-lb">
                        <a href="#"><h1>What’s the Deal With the Story About the Mutant Coronavirus?</h1></a>
                        <p class="title-detail">
                            A prescription for living well from a Harvard physician
                        </p>

                        <div class="tags">
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                    </div>





                    <div class="details-wrap-lb">

                    </div>

                </div>
                <div class="middle-banner">
                    <div class="first-mb">
                        <div class="img-wrapper-mb">
                            <a href="#"><img src="{% static 'blogtech/img/technology_754.jpg' %}" alt="STONEAGEENTREPRENEUR"></a>

                        </div>
                        <div class="content-wrapper-mb">
                            <a href="#"><h2>It's official we are out of things to talk about.</h2></a>
                            <div class="tags">

                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                        </div>




                    </div>
                    <div class="first-mb">
                        <div class="img-wrapper-mb">
                            <a href="#"><img src="{% static 'blogtech/img/1_7zisdYgxVntRV9ff3mdCbw.png' %}" alt="STONEAGEENTREPRENEUR"></a>

                        </div>
                        <div class="content-wrapper-mb">
                            <a href="#"><h2>It's official we are out of things to talk about.</h2></a>
                            <div class="tags">

                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                        </div>




                    </div>

                </div>
                <div class="right-banner">
                    <div class="img-wrapper-rb">
                        <a href="#"><img src="{% static 'blogtech/img/prog.jpeg' %}" alt="STONEAGEENTREPRENEUR"></a>

                        <a href="#"><h2>Welcome to Python</h2></a>
                        <p class="title-detail">Python is multi-purpose programming language....</p>
                        <div class="tags">

                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>

                    </div>



                </div>



            </div>
{#            END BANNER                    #}


{#            THE TECH MERCH SECTION           #}

            <div class="tech-kit-wrapper">
                <h1>TECH MERCH FOR PERFECTIONISTS </h1>

                <div class="product-wrapper">
                    <button type="button" class="arrow-button"><i class="fas fa-arrow-left"></i></button>

                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first">
                        <img src="{% static 'blogtech/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <a href="#"><i class="far fa-heart btn-fav"></i></a>


                        <h4>Nrs. 1800</h4>

                    </div>

                    <button type="button" class="arrow-button"><i class="fas fa-arrow-right"></i></button>
                </div>

                <button type="button" class="product-view-all-btn">VIEW ALL</button>
            </div>
{#            END TECH MERCH CONTENT#}

{#            START POPULAR IN TECH#}
            <div class="tech-kit-wrapper">
                <h1>SAE PICKS IN TECHNOLOGY </h1>
{#                TOP PICKS START  TECH #}
                <div class="top-picks">
                    <div class="img-wrap-top-picks">
                        <a href="#"><img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg'  %}" alt=""></a>
                    </div>

                    <div class="title-wrap-top-picks">
                        <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                        <p class="title-detail">
                            The landscape is evolving quickly.The landscape is evolving quickly.
                        </p>

                        <div class="tags">
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                    </div>
                </div>

{#                END TOP PICKS TECH       #}

{#                START SECONDARY PICKS TECH      #}
                <div class="secondary-picks-wrapper">
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                              <a href="#"><img src="{% static 'blogtech/img/cat.jpeg'  %}" alt=""></a>
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                         <div class="img-wrap-secondary-picks">
                             <a href="#"><img src="{% static 'blogtech/img/cat.jpeg'  %}" alt=""></a>
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                              <a href="#"><img src="{% static 'blogtech/img/cat.jpeg'  %}" alt=""></a>
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>


                    </div>
                </div>
{#                      END SECONDARY PICKS TECH                    #}






            </div>


{#            END SAE PICKS IN TECH#}

{#            START SAE PICKS IN HEALTH#}
            <div class="tech-kit-wrapper">
                <h1>SAE PICKS IN HEALTH </h1>
                <div class="top-picks">
                    <div class="img-wrap-top-picks">
                        <a href="#"><img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg'  %}" alt=""></a>
                    </div>

                    <div class="title-wrap-top-picks">
                        <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                        <p class="title-detail">
                            The landscape is evolving quickly.The landscape is evolving quickly.
                        </p>

                        <div class="tags">
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>
                            <a href="#"><p>#python</p></a>



                        </div>
                        <div class="timeofpost">
                            a few hours ago | 4 mins read
                        </div>
                    </div>
                </div>

{#                END TOP PICKS HEALTH       #}

{#                START SECONDARY PICKS HEALTH      #}
                <div class="secondary-picks-wrapper">
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                              <a href="#"><img src="{% static 'blogtech/img/cat.jpeg'  %}" alt=""></a>
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                         <div class="img-wrap-secondary-picks">
                             <a href="#"><img src="{% static 'blogtech/img/cat.jpeg'  %}" alt=""></a>
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>

                    </div>
                    <div class="secondary-picks">
                          <div class="img-wrap-secondary-picks">
                              <a href="#"><img src="{% static 'blogtech/img/cat.jpeg'  %}" alt=""></a>
                          </div>

                        <div class="title-wrap-secondary-picks">
                            <a href="#"><h1>Machine Learning Engineers Will Not Exist In 10 Years.</h1></a>
                            <p class="title-detail">
                                The landscape is evolving quickly.The landscape is evolving quickly.
                            </p>

                            <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                        </div>


                    </div>
                </div>
{#                      END SECONDARY PICKS HEALTH                    #}

                    </div>



{#            END SAE PICKS IN HEALTH#}


        <div class="extended-contents">
            <h2>BASED ON YOUR READING PREFERENCES</h2>
            <div class="extended-contents-one">
                <div class="extended-contents-one-wrapper">
                    <a href="#"><h2>Production machine learning isn’t hard anymore</h2></a>
                    <a href="#"><p>Deploying machine learning microservices has gotten easier</p></a>
                    <div class="extended-contents-content">
                        <p>Within machine learning, however, this standardization hasn’t existed. To build a pipeline that goes from model training to deployment, teams have had to architect their own solutions, largely from scratch.</p>
                    </div>
                    <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                </div>
                <div class="extended-contents-one-wrap-img">
                    <a href="#"><img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt=""></a>
                </div>




            </div>

            <div class="extended-contents-one">
                <div class="extended-contents-one-wrapper">
                    <a href="#"><h2>Production machine learning isn’t hard anymore</h2></a>
                    <a href="#"><p>Deploying machine learning microservices has gotten easier</p></a>
                    <div class="extended-contents-content">
                        <p>Within machine learning, however, this standardization hasn’t existed. To build a pipeline that goes from model training to deployment, teams have had to architect their own solutions, largely from scratch.</p>
                    </div>
                    <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                </div>
                <div class="extended-contents-one-wrap-img">
                    <a href="#"><img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt=""></a>
                </div>



            </div>
            <div class="extended-contents-one">
                <div class="extended-contents-one-wrapper">
                    <a href="#"><h2>Production machine learning isn’t hard anymore</h2></a>
                    <a href="#"><p>Deploying machine learning microservices has gotten easier</p></a>
                    <div class="extended-contents-content">
                        <p>Within machine learning, however, this standardization hasn’t existed. To build a pipeline that goes from model training to deployment, teams have had to architect their own solutions, largely from scratch.</p>
                    </div>
                    <div class="tags">
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>
                                <a href="#"><p>#python</p></a>



                            </div>
                            <div class="timeofpost">
                                a few hours ago | 4 mins read
                            </div>
                </div>
                <div class="extended-contents-one-wrap-img">
                    <a href="#"><img src="{% static 'blogtech/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt=""></a>
                </div>



            </div>






                                <button type="button" class="product-view-all-btn">VIEW MORE</button>








        </div>





{% endblock %}