{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>
        {% block title %}
             | STONEAGEENTREPRENEUR
        {% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script defer src="https://kit.fontawesome.com/81a2d4bcab.js" ></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/apple-touch-icon.png'  %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'blog/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
</head>
<body>
{% block navigation %}
    <nav class="desktop-view">
        <div class="leftmenu">
            <div class="hamburger" id="hamburger-id-desktop">
                <i class="fas fa-bars"></i>
            </div>
            <form class="search-box-id" method="post">
                <label>
                    <input class='search-box no-view' id="searchbox" type="search" placeholder="Search on StoneAgeEntrepreneur.">
                </label>
            </form>


            <div class="search" id="search-icon">

                <i class="fas fa-search"><span>search</span></i>
{#                <img src="{% static 'blog/img/icons/home-services-01.svg' %}" alt="">#}
            </div>

        </div>
        <div class="logo">
            <a  href="{% url 'home' %}">StoneAgeEntrepreneur.</a>

{#                        <small style="font-size: 10px;">द डाटा साक्षरता PROJECT </small>#}

{#            <small>द <span style="color: #07767A">डाटा</span> साक्षरता <small style="color: #07767A">PROJECT</small></small>#}

        </div>

        <div class="rightmenu">
{#            <div class="store"><i class="fas fa-store"></i></div>#}
            {% if user.is_authenticated %}
                <div class="accounts">
                    <a href="{% url 'user-logout' %}"><i class="fas fa-user"></i></a>
                </div>

            {% else %}
                <div class="accounts" id="login-btn-id">
                    <i title="Logout" id="loginBtn" class="fas fa-sign-out-alt user-login"></i>
                </div>

                <div class="cross-search no-view" id="cross-search-id">
                    <img alt='kitabalaya search end' class="search-cross-class" id="search-end" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuOTU0IDIxLjAzbC05LjE4NC05LjA5NSA5LjA5Mi05LjE3NC0yLjgzMi0yLjgwNy05LjA5IDkuMTc5LTkuMTc2LTkuMDg4LTIuODEgMi44MSA5LjE4NiA5LjEwNS05LjA5NSA5LjE4NCAyLjgxIDIuODEgOS4xMTItOS4xOTIgOS4xOCA5LjF6Ii8+PC9zdmc+">

                </div>
            {% endif %}
        </div>
    </nav>


     <div class="search-box-drop-down-wrapper no-view" id="search-box-drop-id">


        <form method="post">
            {% csrf_token %}
            <label class="search-box-wrapper">
                <input class='search-box' id="search-box-id" type="search" autocomplete="off"
                       placeholder="Type to discover...">
            </label>

        </form>





        <div class="search-result-wrapper" id="search-result-wrapper-id">
           <div class="result-wrapper" id="each-result-id">
                <p></p>


           </div>







        </div>



     </div>

    <nav class="mobile-view-nav">
        <div class="leftmenu-mobile">
            <i class="fas fa-bars hamburger-mobile"></i>
        </div>


        <div class="logo-mobile">
            <a  href="{% url 'home' %}">StoneAgeEntrepreneur.</a>
        </div>
        <div class="logo-tabs">
            <a  href="{% url 'home' %}">Stone<span>Age</span>Entrepreneur.</a>
        </div>



        <div class="rightmenu-mobilex">
{#            <div class="store"><i class="fas fa-store"></i></div>#}
             {% if user.is_authenticated %}
                <a href="#"><i class="fas fa-user user-profile-mobile "></i></a>


            {% else %}
                 <a href="#"><i id="loginBtn" class="fas fa-sign-out-alt user-login-mobile"></i></a>
            {% endif %}

        </div>



    </nav>


{#    END NAV#}
    <main class="main">
{#    SIDE BAR STARTS#}
        <div class="side-bar">
            <div class="side-bar-0">
                <form method="post">
                    {% csrf_token %}
                    <label>
                        <input class='search-box-mini' id="searchbox" type="search" placeholder="SEARCH SAE">
                    </label>
                </form>

                <div class="bar-category-wrapper">
                    {% for category in categories  %}
                        {% if forloop.counter <= 6 %}
                        <div class="category-mini-wrapper">
                            <a href="{% url 'categories' category.slug_name %}"><h1>{{ category }}</h1></a>
                            <ul>
                                {% for mini in category.postcategory_set.all %}
                                    <a href="{% url 'mini-categories' mini.slug_name %}"><li>{{ mini }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="social-links">
{#                                        <i class="fas fa-sign-in-alt"></i>#}

                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>





                </div>

                <div class="auth-links close-nav">
                    <i class="far fa-times-circle "></i>


                </div>

            </div>
            <div class="side-bar-footer">

            </div>
        </div>
{#              SIDEBAR ENDS              #}
{#        MAIN CONTENT STARTS #}


        <div class="login-modal login-modal-none " id="loginModal">
            <p><i class="arrow up"></i></p>

            <div class="login-wrapper">
                <div class="login-wrapper-login">
                    <span class="sign-in">SIGN IN</span>
                    <div class="only-mobile close-circle">
                      <i class="far fa-times-circle "></i>
                    </div>

                    <form id="login-form" class="login-form-control" action="{% url 'user-login' %}" method="post">
                        {% csrf_token %}
                        {{ form }}


                        <div class="reset-forget-wrapper">
                            <a class="register-link" href="#">Register?</a>
                            <a href="{% url 'password-reset' %}">Forget Password?</a>
                        </div>

                        <button class="login-submit" type="submit">Sign in</button>
                    </form>

{#                <div class="social-link-wrapper">#}
{#                    <p>Or sign in with</p>#}
{#                    <div class="social-facebook">#}
{#                        <a href="#">#}
{#                            <i class="fab fa-google"></i>#}
{#                            <p>Sign in with Google</p>#}
{#                        </a>#}
{#                    </div>#}
{#                     <div class="social-facebook">#}
{#                        <a href="#">#}
{#                            <i class="fab fa-facebook"></i>#}
{#                            <p>Sign in with Facebook</p>#}
{#                        </a>#}
{#                    </div>#}
{#                 </div>#}
                 </div>
            </div>



            <div class="login-wrapper-signup">
                <span class="sign-in">SIGN UP</span>
                 <div class="only-mobile close-circle-signup">
                  <i class="far fa-times-circle "></i>
                </div>

                <form class="login-form-control" action="{% url 'user-register' %}" method="post">
                    {% csrf_token %}
                    {{ regForm }}
                    <div class="reset-forget-wrapper">
                        <a class="login-link" href="#">Have an account? Login here.</a>
                    </div>

                    <button class="login-submit" type="submit">Sign Up</button>
                </form>

{#                <div class="social-link-wrapper">#}
{#                    <p>Or sign Up with</p>#}
{#                    <div class="social-facebook">#}
{#                        <a href="#">#}
{#                            <i class="fab fa-google"></i>#}
{#                            <p>Sign Up with Google</p>#}
{#                        </a>#}
{#                    </div>#}
{#                     <div class="social-facebook">#}
{#                        <a href="#">#}
{#                            <i class="fab fa-facebook"></i>#}
{#                            <p>Sign Up with Facebook</p>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
            </div>

            <div class="termscond">
                <small>
                    <p>Click “Sign In” above to accept Stone Age Entrepreneur's Terms of Service & Privacy Policy.</p>
                </small>

            </div>
            </div>
        </div>


        <div class="profile-modal active_display">
            <p><i class="arrow up"></i></p>
            <div class="user-profile-cover-wrapper">
                <img src="{% static 'blog/img/profileimg.png' %}" alt="">
                <h4>{{ user.full_name }}</h4>
            </div>
            <div class="profile-modal-links">
                <a class="profile-modal-links-wrapper" href="#">Profile</a>
                <a class="profile-modal-links-wrapper" href="#">Settings</a>
                <a class="profile-modal-links-wrapper" href="{% url 'user-logout' %}">Logout</a>
            </div>

        </div>

{% endblock %}
{#  SECONDARY NAVIGATION STARTS    #}
        <div class="content_wrapper" id="contentWrapper">
{#            {% block secondary-nav %}#}
{#                <div class="secondary-nav">#}
{#                    <ul class="secondary-nav">#}
{##}
{#                        {% for category in categories  %}#}
{#                            <li><a href="{% url 'categories' category.slug_name %}">{{ category }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#            {% endblock %}#}
         {% block body %}


         {% endblock %}


        {% block footer %}
            <footer class="footer-wrapper">



                <p>ALL RIGHT RESERVED @ 2021</p>





            </footer>
        {% endblock %}





{# END CONTENT WRAPPER      #}

        </div>
{% block body-data %}



{% endblock %}


{#        END OF MAIN CONTENT         #}

    </main>
    <script src="{% static 'blog/js/landing.js' %}"></script>
</body>
</html>