{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>
        {% block title %}
             | STONEAGEENTREPRENEUR
        {% endblock %}
    </title>
    <script defer src="https://kit.fontawesome.com/81a2d4bcab.js" ></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
</head>
<body>
    <nav class="desktop-view">
        <div class="leftmenu">
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
            <form method="post">
                <label>
                    <input class='search-box' id="searchbox" type="search">
                </label>
            </form>

            <div class="search">

                <i class="fas fa-search"><span>search</span></i>
            </div>

        </div>
        <div class="logo">
            <a  href="{% url 'home' %}">Stone<span>Age</span>Entrepreneur.</a>

        </div>

        <div class="rightmenu">
            <div class="health">Cart</div>
            <div class="store">Merchandise</div>
            <div class="accounts">Login</div>
        </div>
    </nav>

    <nav class="mobile-view-nav">
        <div class="leftmenu-mobile">

            <i class="fas fa-bars hamburger-mobile"></i>


             <i class="far fa-user"></i>

        </div>


        <div class="logo-mobile">
            <a  href="{% url 'home' %}">StoneAge<div>Entrepreneur.</div></a>
        </div>

        <div class="rightmenu-mobilex">
            <i class="fas fa-cart-plus"></i>
        </div>



    </nav>


{#    END NAV#}
    <main class="main">
{#    SIDE BAR STARTS#}
        <div class="side-bar">
            <div class="side-bar-0">
                <form method="post">
                    {% csrf_token %}
                    <label>
                        <input class='search-box-mini' id="searchbox" type="search" placeholder="SEARCH SAE">
                    </label>
                </form>
                <div class="bar-category-wrapper">
                    {% for category in categories  %}
                        {% if forloop.counter <= 6 %}
                        <div class="category-mini-wrapper">
                            <a href="{% url 'categories' category.slug_name %}"><h1>{{ category }}</h1></a>
                            <ul>
                                {% for mini in category.postcategory_set.all %}
                                    <a href="{% url 'mini-categories' mini.slug_name %}"><li>{{ mini }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="social-links">
{#                                        <i class="fas fa-sign-in-alt"></i>#}

                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>





                </div>

                <div class="auth-links">
                    <i class="fas fa-sign-in-alt"></i>


                </div>

            </div>
            <div class="side-bar-footer">

            </div>
        </div>
{#              SIDEBAR ENDS              #}
{#        MAIN CONTENT STARTS #}
        <div class="content_wrapper">
            {% block secondary-nav %}
                <div class="secondary-nav">
                    <ul class="secondary-nav">

                        {% for category in categories  %}
                            <li><a href="{% url 'categories' category.slug_name %}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}
         {% block body %}


         {% endblock %}

{#            #}

            <footer>



                <p>ALL RIGHT RESERVED @ 2020</p>





            </footer>





{# END CONTENT WRAPPER      #}

        </div>

{#        END OF MAIN CONTENT         #}

    </main>
    <script src="{% static 'blog/js/landing.js' %}"></script>
</body>
</html>