{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
    {{ whereiam|upper }}{{ block.super }}

{% endblock %}


{% block body %}
{#    <div class="secondary-nav">#}
{#        <ul class="secondary-nav">#}
{#        {% if active_category.postcategory_set.all %}#}
{#            {% for navheading in active_category.postcategory_set.all  %}#}
{#                <li><a href="{% url 'mini-categories' navheading.slug_name %}">{{ navheading }}</a></li>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#        </ul>#}
{#    </div>#}
        {# END SECONDARY NAV #}

    <div class="category-distance">
{#            <div class="whereiam-wrapper">#}
{#                <a href="{% url 'home' %}">HOME</a> > <a href="">{{ whereiam |upper }} ></a>#}
{#            </div>#}


             <div class="banner">
                <div class="left-banner">
                    <div class="img-wrap-lb">
                        <a href="#"><img src="{{ the_featured_one.title_image.url }}" alt=""></a>
                    </div>

                    <div class="title-wrap-lb">
                        <p class="belongs_to">{{ the_featured_one.belongs_to }}</p>
                        <a href="{% url 'post-details' the_featured_one.slug_name %}"><h1>{{ the_featured_one.hard_title }}</h1></a>

                        <p class="title-detail">
                            {{ the_featured_one.soft_title }}
                        </p>
                        <div class="timeofpost">
                            <div>
                                a few hours ago | 4 mins read
                            </div>
                            <div class="post-icons">
                                <i class="fas fa-ellipsis-h"></i>
                                <i class="far fa-bookmark"></i>

                            </div>
                        </div>
                    </div>
{#                  end left banner   #}

                </div>
             <div class="middle-banner-category only-mobile">
                    {% for featured in blog_categories %}
                        <div class="first-mb">
                            <div class="content-wrapper-mb">
                                <p class="belongs_to">{{ featured.belongs_to }}</p>
                                <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>
                                 <div class="img-wrapper-mb">
                                      <a href="{% url 'post-details' featured.slug_name %}"><img src="{{ featured.title_image.url }}" alt="STONEAGEENTREPRENEUR"></a>

                                </div>
                                <p class="title-detail">
                                   {{ featured.soft_title }}
                                </p>
                                <div class="timeofpost">
                                    <div>
                                        a few hours ago | 4 mins read
                                    </div>
                                    <div class="post-icons">
                                        <i class="fas fa-ellipsis-h"></i>
                                        <i class="far fa-bookmark"></i>

                                    </div>
                                </div>
                            </div>




                        </div>


                    {% endfor %}
{#                #}

                </div>
                <div class="middle-banner-category except-mobile">
                    {% for featured in blog_categories %}
                        <div class="first-mb">
                            <div class="content-wrapper-mb">
                                <p class="belongs_to">{{ featured.belongs_to }}</p>
                                <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>
                                <p class="title-detail">
                                   {{ featured.soft_title }}
                                </p>
                                <div class="timeofpost">
                                    <div>
                                        a few hours ago | 4 mins read
                                    </div>
                                    <div class="post-icons">
                                        <i class="fas fa-ellipsis-h"></i>
                                        <i class="far fa-bookmark"></i>

                                    </div>
                                </div>
                            </div>

                            <div class="img-wrapper-mb">
                                <a href="{% url 'post-details' featured.slug_name %}"><img src="{{ featured.title_image.url }}" alt="STONEAGEENTREPRENEUR"></a>

                            </div>


                        </div>


                    {% endfor %}
{#                #}

                </div>
{#        #end middle  banner#}

            </div>
{#            END BANNER                    #}
    </div>

{% endblock %}