{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
    {{ whereiam|upper }}{{ block.super }}

{% endblock %}


{% block body %}
    <div class="secondary-nav">
        <ul class="secondary-nav">
        {% if blog_categories.postcategory_set.all %}
            {% for navheading in blog_categories.postcategory_set.all  %}
                <li><a href="{% url 'mini-categories' navheading.slug_name %}">{{ navheading }}</a></li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>




        {# END SECONDARY NAV #}

    <div class="category-distance">
            <div class="whereiam-wrapper">
                <a href="{% url 'home' %}">HOME</a> > <a href="">{{ whereiam |upper }} ></a>
            </div>

            <div class="category-pick-one">
                <div class="category-img-wrapper">
                    <img src="{{ the_featured_one.title_image.url }}" alt="CategoryPickOne">
                </div>
                <div class="category-content-wrapper">

                    <a class="category-hard-title" href="#"><h1>{{ the_featured_one.hard_title }}</h1></a>
                    <p class="category-soft-title">
                        {{ the_featured_one.soft_title }}
                    </p>
                    <p class="category-content">
                        {{ the_featured_one.post_body_first }}
                    </p>
                    <div class="tags">
                        {% for tag in the_featured_one.has_tags.all %}
                        <a href="#"><p>#{{ tag }}</p></a>
                        {% endfor %}

                    </div>
                    <div class="timeofpost">
                                a few hours ago | 4 mins read
                    </div>
                </div>
                {#            End Category Content Wrapper     #}
            </div>

    </div>
    {#    End of category-wrapper#}


   <div class="tech-kit-wrapper">
       {% if blog_categories.postcategory_set.all %}
            {% for postcategory in blog_categories.postcategory_set.all %}
                    <h1 class="sub-headings-post">{{ postcategory.name}}</h1>
                     <div class="secondary-picks-wrapper">
                          {% for post in postcategory.post_set.all  %}
                              {% if post.flags != 41 %}
                                  {% if forloop.counter <= 3 %}


        {#                START SECONDARY PICKS E&S      #}


                                    <div class="secondary-picks">
                                          <div class="img-wrap-secondary-picks">
                                              <a href="{% url 'post-details' post.slug_name %}"><img src="{{ post.title_image.url }}" alt=""></a>
                                          </div>

                                        <div class="title-wrap-secondary-picks">
                                            <a href="{% url 'post-details' post.slug_name %}"><h1>{{ post.hard_title|truncatewords:10 }}</h1></a>
                                            <p class="title-detail">
                                                {{ post.soft_title|truncatechars:70 }}
                                            </p>

                                            <div class="tags">
                                                {% for tag in post.has_tags.all %}
                                                    {% if forloop.counter <= 4 %}
                                                        <a href="#"><p>#{{ tag }}</p></a>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                            <div class="timeofpost">
                                                a few hours ago | 4 mins read
                                            </div>
                                        </div>

                                    </div>
                                      {% endif %}
                              {% endif %}
                            {% endfor %}

                    </div>

    {#                      END SECONDARY PICKS E&S                    #}
            <button type="button" class="product-view-all-btn">VIEW MORE</button>
            {% endfor %}
       {% endif %}

   </div>


{% endblock %}