{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ title }} {{ block.super }}

{% endblock %}


{% block body %}

    <div class="banner" id="contentBanner">
                <div class="left-banner">
                    <div class="img-wrap-lb">
                        <a href="#"><img src="{{ featured_one.title_image.url }}" alt=""></a>
                    </div>

                    <div class="title-wrap-lb">
                        <p class="belongs_to">{{ featured_one.belongs_to }}</p>
                        <a href="{% url 'post-details' featured_one.slug_name %}"><h1>{{ featured_one.hard_title }}</h1></a>

                        <p class="title-detail">
                            {{ featured_one.soft_title }}
                        </p>

                        <div class="timeofpost">
                            <div>
                                <p>a few hours ago | 4 mins read</p>
                            </div>
                            <div class="post-icons">
                                <i class="fas fa-ellipsis-h"></i>
                                <i class="far fa-bookmark"></i>


                            </div>
                        </div>
                    </div>





{#                  end left banner   #}

                </div>

                <div class="middle-banner only-mobile">

                        {% for featured in featured_two %}
                            <div class="first-mb">

                                <div class="content-wrapper-mb">
                                    <p class="belongs_to">{{ featured.belongs_to }}</p>
                                    <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>
{#                                    <div class="img-wrapper-mb">#}
{#                                    <a href="{% url 'post-details' featured.slug_name %}"><img src="{{ featured.title_image.url }}" alt="STONEAGEENTREPRENEUR"></a>#}
{##}
{#                                    </div>#}
                                    <p class="title-detail">
                                       {{ featured.soft_title }}
                                    </p>
                                   <div class="timeofpost">
                                        <div>
                                            <p>a few hours ago | 4 mins read</p>
                                        </div>
                                        <div class="post-icons">
                                            <i class="fas fa-ellipsis-h"></i>
                                            <i class="far fa-bookmark"></i>

                                        </div>
                                   </div>
                                </div>




                            </div>


                        {% endfor %}

         </div>









                <div class="middle-banner except-mobile">
                    {% for featured in featured_two %}
                        <div class="first-mb " >
                            <div class="content-wrapper-mb">
                                <p class="belongs_to">{{ featured.belongs_to }}</p>
                                <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>
                                <p class="title-detail">
                                   {{ featured.soft_title }}
                                </p>
                                <div class="timeofpost">
                                    <div>
                                        <p>a few hours ago | 4 mins read</p>
                                    </div>
                                    <div class="post-icons">
                                        <i class="fas fa-ellipsis-h"></i>
                                        <i class="far fa-bookmark"></i>

                                    </div>
                                 </div>
                            </div>

{#                            <div class="img-wrapper-mb">#}
{#                                <a href="{% url 'post-details' featured.slug_name %}"><img src="{{ featured.title_image.url }}" alt="STONEAGEENTREPRENEUR"></a>#}
{##}
{#                            </div>#}


                        </div>


                    {% endfor %}

                </div>
{#        #end middle  banner#}

            </div>
{#            END BANNER                    #}






                                                                    {#            THE TECH MERCH SECTION           #}

            <div class="tech-kit-wrapper">
                <h1 class="sub-headings-post">TECHNOLOGY MERCH FOR PERFECTIONISTS </h1>

                <div class="product-wrapper">
                    <button type="button" class="arrow-button"><i class="fas fa-arrow-left"></i></button>

                    <div class="product-first">
                        <img src="{% static 'blog/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p class="product-desc">BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>
                        <h4>Nrs. 1800</h4>


                    </div>


                    <div class="product-first mobile-view">
                        <img src="{% static 'blog/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>

                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first tab-view-two">
                        <img src="{% static 'blog/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>


                        <h4>Nrs. 1800</h4>

                    </div>


                    <div class="product-first tab-view">
                        <img src="{% static 'blog/img/techwaterbottle.webp' %}" alt="SAE MERCH">
                        <button class="btn-shop" type="button">SHOP</button>
                        <p>BLACK & GOLD SAE INSULATED <br> WATER BOTTLE </p>


                        <h4>Nrs. 1800</h4>

                    </div>

                    <button type="button" class="arrow-button"><i class="fas fa-arrow-right"></i></button>
                </div>

                <button type="button" class="product-view-all-btn">VIEW ALL</button>
            </div>


                                                                    {#            END TECH MERCH CONTENT#}



 <div class="most-popular-wrapper">                                                                   {#            END SAE PICKS IN TECH#}
     <div class="most-popular-left">
         <div class="middle-banner only-mobile">
            <h3 class="most-popular-heading">Preferences</h3>

                        {% for featured in all_posts %}
                            <div class="first-mb">

                                <div class="content-wrapper-mb">
                                    <p class="belongs_to">{{ featured.belongs_to }}</p>
                                       <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>
                                    <div class="img-wrapper-mb">
                                    <a href="{% url 'post-details' featured.slug_name %}"><img src="{{ featured.title_image.url }}" alt="STONEAGEENTREPRENEUR"></a>

                                    </div>
                                    <p class="title-detail">
                                       {{ featured.soft_title }}
                                    </p>
                                    <div class="timeofpost">
                                        <div>
                                            a few hours ago | 4 mins read
                                        </div>
                                        <div class="post-icons">
                                            <i class="fas fa-ellipsis-h"></i>
                                            <i class="far fa-bookmark"></i>

                                        </div>
                                    </div>
                                </div>




                            </div>


                        {% endfor %}

         </div>



        <div class="middle-banner except-mobile">
                    <h3 class="most-popular-heading">Preferences</h3>


                        {% for featured in all_posts %}
                            <div class="first-mb">

                                <div class="content-wrapper-mb">
                                    <p class="belongs_to">{{ featured.belongs_to }}</p>
                                    <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>

                                    <p class="title-detail">
                                       {{ featured.soft_title }}
                                    </p>
                                    <div class="timeofpost">
                                        <div>
                                            <p>a few hours ago | 4 mins read</p>
                                        </div>
                                        <div class="post-icons">
                                            <i class="fas fa-ellipsis-h"></i>
                                            <i class="far fa-bookmark"></i>

                                        </div>
                                    </div>
                                </div>

                                <div class="img-wrapper-mb">
                                    <a href="{% url 'post-details' featured.slug_name %}"><img src="{{ featured.title_image.url }}" alt="STONEAGEENTREPRENEUR"></a>

                                </div>




                            </div>


                        {% endfor %}

         </div>


     </div>
     <div class="most-popular-right">
         <div class="update-from-category">
{#             <h3>The Techy Experience</h3>#}
{#              {% for featured in featured_two %}#}
{#             <div class="first-mb">#}
{##}
{#                <div class="content-wrapper-mb">#}
{#                    <p class="belongs_to">{{ featured.belongs_to }}</p>#}
{##}
{#                    <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>#}
{#                    <p class="title-detail">#}
{#                       {{ featured.soft_title }}#}
{#                    </p>#}
{#                    <div class="timeofpost">#}
{#                        <div>#}
{#                            <p>a few hours ago | 4 mins read</p>#}
{#                        </div>#}
{#                        <div class="post-icons">#}
{#                            <i class="fas fa-ellipsis-h"></i>#}
{#                            <i class="far fa-bookmark"></i>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#             </div>#}
{#             {% endfor %}#}





         </div>

        <div class="final-from-category">
            <h3>Editors Picks'</h3>
             {% for featured in featured_two %}
             <div class="first-mb">
                <div class="content-wrapper-mb">
                    <p class="belongs_to">{{ featured.belongs_to }}</p>

                    <a href="{% url 'post-details' featured.slug_name %}"><h2>{{ featured.hard_title }}</h2></a>
                    <p class="title-detail">
                       {{ featured.soft_title }}
                    </p>
                    <div class="timeofpost">
                        <div>
                            <p>a few hours ago | 4 mins read</p>
                        </div>
                        <div class="post-icons">
                            <i class="fas fa-ellipsis-h"></i>
                            <i class="far fa-bookmark"></i>

                        </div>
                    </div>
                </div>
             </div>
             {% endfor %}






        </div>








     </div>

 </div>









{% endblock %}