{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ title }}{{ block.super }}
{% endblock %}

{% block secondary-nav %}

{% endblock %}
{% block body %}



{#     <div class="secondary-nav">#}
{#        <ul class="secondary-nav">#}
{#            {% for navheading in blog_categories.postcategory_set.all  %}#}
{#                <li><a href="{% url 'mini-category' navheading.slug_name %}">{{ navheading }}</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}

        {# END SECONDARY NAV #}

    <div class="category-distance">
            <div class="whereiam-wrapper-mini">
                <a href="{% url 'home' %}"> HOME  </a> > <a href="{% url 'categories' whereiwas.slug_name %}">{{ whereiwas |upper }}</a> <span> ></span>   <a href="#">{{ whereiam |upper }}</a>
            </div>
            <div class="category-pick-one">
                <div class="category-img-wrapper">
                    <img src="{% static 'blog/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt="CategoryPickOne">
                </div>
                <div class="category-content-wrapper">
                    <a class="category-hard-title" href="#"><h1>Production Machine Learning is not hard anymore</h1></a>
                    <p class="category-soft-title">
                        Deploying machine learning microservices has gotten easier
                    </p>
                    <p class="category-content">
                        Within machine learning, however, this standardization hasn’t existed.
                        To build a pipeline that goes from model training to deployment, teams have
                        had to architect their own solutions, largely from scratch.
                    </p>
                    <div class="tags">
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                    </div>
                    <div class="timeofpost">
                                a few hours ago | 4 mins read
                    </div>
                </div>
                {#            End Category Content Wrapper     #}
            </div>

    </div>

    <div class="category-distance">
            <div class="category-pick-one">
                <div class="category-img-wrapper">
                    <img src="{% static 'blog/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt="CategoryPickOne">
                </div>
                <div class="category-content-wrapper">
                    <a class="category-hard-title" href="#"><h1>Production Machine Learning is not hard anymore</h1></a>
                    <p class="category-soft-title">
                        Deploying machine learning microservices has gotten easier
                    </p>
                    <p class="category-content">
                        Within machine learning, however, this standardization hasn’t existed.
                        To build a pipeline that goes from model training to deployment, teams have
                        had to architect their own solutions, largely from scratch.
                    </p>
                    <div class="tags">
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                    </div>
                    <div class="timeofpost">
                                a few hours ago | 4 mins read
                    </div>
                </div>
                {#            End Category Content Wrapper     #}
            </div>

    </div>

    <div class="category-distance">
            <div class="category-pick-one">
                <div class="category-img-wrapper">
                    <img src="{% static 'blog/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt="CategoryPickOne">
                </div>
                <div class="category-content-wrapper">
                    <a class="category-hard-title" href="#"><h1>Production Machine Learning is not hard anymore</h1></a>
                    <p class="category-soft-title">
                        Deploying machine learning microservices has gotten easier
                    </p>
                    <p class="category-content">
                        Within machine learning, however, this standardization hasn’t existed.
                        To build a pipeline that goes from model training to deployment, teams have
                        had to architect their own solutions, largely from scratch.
                    </p>
                    <div class="tags">
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                    </div>
                    <div class="timeofpost">
                                a few hours ago | 4 mins read
                    </div>
                </div>
                {#            End Category Content Wrapper     #}
            </div>

    </div>

    <div class="category-distance">

            <div class="category-pick-one">
                <div class="category-img-wrapper">
                    <img src="{% static 'blog/img/1_qeA1xnJIu_D32TUeZ_9-JQ.jpeg' %}" alt="CategoryPickOne">
                </div>
                <div class="category-content-wrapper">
                    <a class="category-hard-title" href="#"><h1>Production Machine Learning is not hard anymore</h1></a>
                    <p class="category-soft-title">
                        Deploying machine learning microservices has gotten easier
                    </p>
                    <p class="category-content">
                        Within machine learning, however, this standardization hasn’t existed.
                        To build a pipeline that goes from model training to deployment, teams have
                        had to architect their own solutions, largely from scratch.
                    </p>
                    <div class="tags">
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                        <a href="#"><p>#Python</p></a>
                    </div>
                    <div class="timeofpost">
                                a few hours ago | 4 mins read
                    </div>
                </div>
                {#            End Category Content Wrapper     #}
            </div>

    </div>

{% endblock %}