{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ whereiam }}{{ block.super }}
{% endblock %}

{% block secondary-nav %}

{% endblock %}
{% block body %}

    <div class="category-distance">
            <div class="whereiam-wrapper-mini">
                <a href="{% url 'home' %}"> HOME  </a> > <a href="{% url 'categories' whereiwas.slug_name %}">{{ whereiwas |upper }}</a> <span> ></span>   <a href="#">{{ whereiam |upper }}</a>
            </div>
        <div class="extended-wrapper">
        {% for post in posts %}
            <div class="extended-content-wrapper">
                <div class="extended-content-header">
                    <a href="{% url 'post-details' post.slug_name %}"><h2>{{ post.hard_title|truncatewords:13}}</h2></a>
                    <a href="{% url 'post-details' post.slug_name %}"><p class="mini-category-soft-title">{{ post.soft_title|truncatewords:10 }}</p></a>
                    <p class="mini-category-body">{{ post.post_body_first|truncatewords:40 }}</p>
                </div>

                <div class="extended-image-wrapper">
                    <img src="{{ post.title_image.url }}" alt="post content image">
                </div>
            </div>
        {% endfor %}
        </div>

    </div>


{% endblock %}