{% extends 'blog/base.html' %}


{% block title %}

{% endblock %}

{% block navigation %}

{% endblock %}

{% block secondary-nav %}

{% endblock %}

{% block body %}

 <div class="login-modal-individual " id="loginModal">
<div class="login-wrapper">
                <div class="login-wrapper-login">
                     <div class="logo-reset">
                        <a  href="{% url 'home' %}">Stone<span>Age</span>Entrepreneur.</a>

                    </div>



                    <span class="sign-in-reset"><p>Please check your Email.</p>
                    <p>A password reset link has be sent to your Email Address.</p>

                        <p><a href="{% url 'home' %}">Click <span style="color: green">HERE</span> to be redirected to the HomePage.</a> </p>
                        </span>








            </div>
 </div>
{% endblock %}


{% block footer %}

{% endblock %}