{% extends 'blog/base.html' %}


{% block title %}

{% endblock %}

{% block navigation %}

{% endblock %}

{% block secondary-nav %}

{% endblock %}

{% block body %}

 <div class="login-modal-individual " id="loginModal">

            <div class="login-wrapper">
                <div class="login-wrapper-login">
                     <div class="logo-reset">
                        <a  href="{% url 'home' %}">Stone<span>Age</span>Entrepreneur.</a>

                    </div>



                    <span class="sign-in-reset"><p>Enter Your Email to Reset Your Password</p>
                    <p>A password reset link will be sent to your Email Address.</p>
                        </span>

                    <form id="login-form" class="login-form-control"  method="post">
                        {% csrf_token %}
                        {{ form }}




                        <button class="login-submit" type="submit">Submit</button>
                    </form>





            </div>

 </div>
{% endblock %}


{% block footer %}

{% endblock %}