{% extends 'blog/base.html' %}


{% block title %}

{% endblock %}

{% block navigation %}

{% endblock %}

{% block secondary-nav %}

{% endblock %}

{% block body %}

 <div class="login-modal-individual " id="loginModal">

            <div class="login-wrapper">
                <div class="login-wrapper-login">

                     <div class="logo-reset">
                        <a  href="{% url 'home' %}">Stone<span>Age</span>Entrepreneur.</a>

                    </div>
{#                <span class="sign-in"><p>Password Reset Complete</p></span>#}

                     <span class="sign-in">SIGN IN</span>
                <div class="success-message">
                  {% if messages %}
                        {% for message in messages %}
                            {% if color %}
                                <div style="margin-top: 20px; color: red;">

                                        {{ message }}

                                </div>
                            {% else %}
                                <div style="margin-top: 20px; color: green;">

                                    {{ message }}

                                </div>
                            {% endif %}


                        {% endfor %}

                  {% endif %}
                </div>


                <form id="login-form" class="login-form-control"  method="post">
                    {% csrf_token %}
                    {{ form }}


                    <div class="reset-forget-wrapper">
                        <a class="register-link" href="{% url 'user-register' %}">Register?</a>
                        <a href="{% url 'password-reset' %}">Forget Password?</a>
                    </div>
                      {{ login_url }}
                    <button class="login-submit" type="submit">Sign in</button>
                </form>

                <div class="social-link-wrapper">
                    <p>Or sign in with</p>
                    <div class="social-facebook">
                        <a href="#">
                            <i class="fab fa-google"></i>
                            <p>Sign in with Google</p>
                        </a>
                    </div>
                     <div class="social-facebook">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                            <p>Sign in with Facebook</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="termscond">
                <small>Click “Sign In” above to accept Stone Age Entrepreneur's</small>
                    <small>Terms of Service & Privacy Policy.</small>

            </div>
            </div>




            </div>

 </div>
{% endblock %}


{% block footer %}

{% endblock %}