{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ title }} {{ block.super }}
{% endblock %}


{% block body %}



        <div class="post-content">
            <div class="title-post-content">
                <h1>{{ post.hard_title }}</h1>
            </div>{#           #end of title of post#}
{#             <div class="timeofpost">#}
{#                <div>#}
{#                    <p>a few hours ago | 4 mins read</p>#}
{#                </div>#}
{#                <div class="post-icons">#}
{#                    <i class="fas fa-ellipsis-h"></i>#}
{#                    <i class="far fa-bookmark"></i>#}
{##}
{#                </div>#}
{#            </div>#}



            <div class="post-image-wrapper">
                <img src="{{ post.title_image.url }}" alt="">
            </div>
                            <p>{{ post.soft_title }}</p>

         <div class="timeofpost">
                <div>
                    <p>a few hours ago | 4 mins read</p>
                </div>
                <div class="post-icons">
                    <i class="fas fa-ellipsis-h"></i>
                    <i class="far fa-bookmark"></i>

                </div>
            </div>

        </div>

        <div class="post-content-text">
            {% if post.post_body_first %}

                <p>{{ post.post_body_first|safe|linebreaks }}</p>
            {% endif %}
            {% if post.highlight_content != '' %}
                <div class="highlight">
                    <p>
                        {{ post.highlight_content }}
                    </p>
                </div>
            {% endif %}
            {% if post.post_body_second %}
                <p>{{ post.post_body_second|linebreaksbr }}</p>
            {% endif %}

{#        End if post title main #}
            {% if post.subpostcontent_set.all %}
                {% for related in post.subpostcontent_set.all %}

                    <h2>{{ related.inter_post_heading }}</h2>
                    {% if related.inter_post_content_one %}
                       <p>
                           {{ related.inter_post_content_one|linebreaks }}
                       </p>
                        {% if related.inter_post_content_one_url %}
                            <p>
                               <script src="{{ related.inter_post_content_one_url }}"></script>
                            </p>

                        {% endif %}

                    {% endif %}
                    <div class="list-elements">
                    {% if related.subpostlistelements_set.all %}
                        {% for subpostlistelement in related.subpostlistelements_set.all  %}
                            <div class="list-title">
                                <p>
                                    {{ forloop.counter }}. {{subpostlistelement.title }}
                                    <script src="{{ subpostlistelement.title_url }}"></script>
                                </p></div>
                            {% for listelement in subpostlistelement.listelements_set.all %}

                               <div class="list-content">
                                   <ul>
                                       <li>{{ listelement.element }}</li>
                                       {% if listelement.element_url %}
                                           <div class="embed-code">
                                               <script src="{{ listelement.element_url}}"></script>
                                           </div>

                                       {% endif %}
                                   </ul>
                               </div>
                            {% endfor %}

                        {% endfor %}


                    {% endif %}
                    </div>


                   {% if related.inter_post_content_two %}
                       <p>
                           {{ related.inter_post_content_two|linebreaks }}
                       </p>
                        {% if related.inter_post_content_two_url %}
                            <p>
                               <script src="{{ related.inter_post_content_two_url }}"></script>
                            </p>

                        {% endif %}

                    {% endif %}

                    {% if related.inter_post_content_three %}
                       <p>
                           {{ related.inter_post_content_three|linebreaks }}
                       </p>
                        {% if related.inter_post_content_three_url %}
                            <p>
                               <script src="{{ related.inter_post_content_three_url }}"></script>
                            </p>

                        {% endif %}

                    {% endif %}

                    {% if related.highlight_content != '' %}
                        <div class="highlight">
                        <p>
                            {{ related.highlight_content }}
                        </p>
                        </div>
                    {% endif %}


                    {% if related.post_image != '' %}
                        <div class="post-image-wrapper ">
                            <img src="{{ related.post_image.url }}" alt="">
                        </div>

                    {% endif %}



                {% endfor %}
            {% endif %}

        </div>


{% endblock %}