{% extends 'blog/base.html' %}


{% block title %}

{% endblock %}

{% block navigation %}

{% endblock %}

{% block secondary-nav %}

{% endblock %}

{% block body %}

 <div class="login-modal-individual " id="loginModal">

            <div class="login-wrapper">
                <div class="login-wrapper-login">

                <span class="sign-in">SIGN UP</span>
                    <div class="success-message">
                          {% if messages %}
                            {% for message in messages %}
                                {% if color %}
                                    <div style="margin-top: 20px; color: red;">

                                            {{ message }}

                                    </div>
                                {% else %}
                                    <div style="margin-top: 20px; color: green;">

                                        {{ message }}

                                    </div>
                                {% endif %}


                            {% endfor %}

                             {% endif %}
                     </div>

                <form id="login-form" class="login-form-control"  method="post">
                    {% csrf_token %}
                    {{ form }}


                    <div class="reset-forget-wrapper">
                         <a class="register-link" href="{% url 'user-login' %}">Have an account? Login here.</a>
                    </div>

                    <button class="login-submit" type="submit">Sign Up</button>
                </form>

                <div class="social-link-wrapper">
                    <p>Or sign up with</p>
                    <div class="social-facebook">
                        <a href="#">
                            <i class="fab fa-google"></i>
                            <p>Sign up with Google</p>
                        </a>
                    </div>
                     <div class="social-facebook">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                            <p>Sign up with Facebook</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="termscond">
                <small>Click “Sign In” above to accept Stone Age Entrepreneur's</small>
                    <small>Terms of Service & Privacy Policy.</small>

            </div>
            </div>

 </div>
{% endblock %}


{% block footer %}

{% endblock %}